/Oct21_04-00-41_dfff1a48e47f
/__pycache__
/archive (3).zip
/checkpoint
/checkpoint_ssd300.pth.tar
/chkpoint_
/coco_utils.pyc
/engine.pyc
/test_data_images
/transforms.pyc
*.txt
/runs
/lib/__pycache__
*zip
